[**@bates/squareup API Reference v0.1.0**](../../README.md)

***

[@bates/squareup API Reference](../../README.md) / [react](../README.md) / VerificationResult

# Interface: VerificationResult

Defined in: [src/react/types.ts:166](https://github.com/mbates/squareup/blob/5cbceb7be75e480372e4059c7badcdbbc730e2e4/src/react/types.ts#L166)

## Properties

### token

> **token**: `string`

Defined in: [src/react/types.ts:167](https://github.com/mbates/squareup/blob/5cbceb7be75e480372e4059c7badcdbbc730e2e4/src/react/types.ts#L167)

***

### userChallenged

> **userChallenged**: `boolean`

Defined in: [src/react/types.ts:168](https://github.com/mbates/squareup/blob/5cbceb7be75e480372e4059c7badcdbbc730e2e4/src/react/types.ts#L168)
