[**@bates-solutions/squareup API Reference v0.2.0**](../../README.md)

***

[@bates-solutions/squareup API Reference](../../README.md) / [react](../README.md) / VerificationResult

# Interface: VerificationResult

Defined in: [src/react/types.ts:166](https://github.com/mbates/squareup/blob/8c46134cf39ac2cfc86b2d998f7cb56c9436089e/src/react/types.ts#L166)

## Properties

### token

> **token**: `string`

Defined in: [src/react/types.ts:167](https://github.com/mbates/squareup/blob/8c46134cf39ac2cfc86b2d998f7cb56c9436089e/src/react/types.ts#L167)

***

### userChallenged

> **userChallenged**: `boolean`

Defined in: [src/react/types.ts:168](https://github.com/mbates/squareup/blob/8c46134cf39ac2cfc86b2d998f7cb56c9436089e/src/react/types.ts#L168)
